<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="3.1.4" targetFramework="net461" />
  <package id="Fody" version="3.2.9" targetFramework="net461" developmentDependency="true" />
  <package id="Melanchall.DryWetMidi" version="4.1.1" targetFramework="net461" />
</packages>