<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="3.1.4" targetFramework="net461" developmentDependency="true" />
  <package id="Fody" version="3.2.9" targetFramework="net461" developmentDependency="true" />
  <package id="GlobalHotKey" version="1.1.0" targetFramework="net461" />
  <package id="HZH_Controls" version="1.0.6" targetFramework="net472" />
  <package id="Melanchall.DryWetMidi" version="4.1.0" targetFramework="net461" />
  <package id="midi-dot-net2" version="2.0.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="PagedControl" version="2.2.0" targetFramework="net461" />
  <package id="Tungsten.Firewall" version="2.0.2" targetFramework="net461" />
</packages>